<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div *ngIf="invalidLogin" class="alert alert-danger mt-1">
                    Please provide correct credentials!
                </div>
                <br>
                <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
                    <!-- User form group -->
                    <div formGroupName="user">
                        <div class="form-data">
                            <div class="forms-inputs mb-4"> <span>Email or username</span>
                                <input formControlName="username" type="text">
                                <div *ngIf="(username.invalid && (username.dirty || username.touched))">
                                    <div style="color: rgb(226, 19, 19);">
                                        A valid username is required!
                                    </div>
                                </div>
                            </div>
                            <div class="forms-inputs mb-4"> <span>Password</span> 
                                <input formControlName="password" type="password">
                                <div *ngIf="(password.invalid && (password.dirty || password.touched))">
                                    <div style="color: rgb(226, 19, 19);">
                                        Password must be at least 8 characters!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"> 
                                <button type="submit"
                                    class="btn btn-dark w-100">Login</button>
                                 </div>
                        </div>
                    </div>
                </form>

                <div>
                    Not a user? <a routerLink="/register"> Register </a>
                </div>
            </div>
        </div>
    </div>
</div>